<!DOCTYPE html>
<html>
<head>
  <title>Tic-Tatter-Tot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
          if (window.console && window.console.log) {
              window.console.log(message);
          }
      };

      var pusher = new Pusher('ccd0874a059f88e21263');
      var channel = pusher.subscribe('game_updates');
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <span><%= link_to 'Tic Tatter Tot', root_path %></span>
  <nav>
    <% if current_user.nil? %>
        <%= link_to('Login', new_user_session_path) %>
    <% else %>
        Logged in as: <%= "#{current_user.fullname}" %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% end %>
  </nav>
</header>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

</body>
</html>
